.grid-container {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  height: 100%;
  grid-gap: 1em;
}

.img-container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: white;
  background-position: 9px 0px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100px;
}

.container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #f3eed9;
  background-position: 9px 0px;
  border: solid 1px #bc827d;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 60px;
}
