@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");

.grid-container {
  font-family: "Shadows Into Light", cursive;
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  height: 100%;
  grid-gap: 1em;
}

.container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #f3eed9;
  background-position: 9px 0px;
  border: solid 1px #bc827d;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 60px;
}

.img-container a {
  font-family: "Shadows Into Light", cursive;
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 0;
  position: relative;
}

.img-container a:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.img-container img {
  width: 100px;
  display: block;
  width: inherit;
  border: 1px solid black;
  background-image: url(http://www.rpg-maker.fr/ressources/backdrops/foret/1730_1086554524.png);
  background-size: 150px 141px;
}

.img-container a:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
